{% extends 'base.html' %}
{% block content %}
    <button><a href="{% url 'home'%}" style="color: #000000"> Voltar para página inicial</a></button>
    <fieldset>
        <div class="panel panel-primary"></div>
        <div class="panel-heading h2">Chave {{chave.nome}}</div>
    <ul>
         <li>{{chave.nome}} - {{chave.disponivel}}</li>
     </ul>

        <button class="btn btn-primary"><a href="/alterar/{{chave.id}}" style="color: #ffffff">Editar</a></button>
     <p>
     </p>
     <button class="btn btn-danger"><a href="/deletar/{{chave.id}}" style="color: #ffffff">Deletar</a></button>
    </fieldset>
{% endblock %}