<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center><h1>Primeiro Django Para chaves</h1></center>
    {%load static%}
    <link rel = "icon" href="{% static 'chave.jpg'%}">
    <center><img src="{% static 'chave.jpg' %}"></center>
    <p>
    </p>
    <center><li><a href="cadastro2">Cadastro de Usuários de Chaves</a></li></center>
    <p>
    </p>
    <center><li><a href="cadastro">Cadastro de Chaves</a></li></center>
    <p>
    </p>
    <center><li><a href="chaves_c">Chaves Cadastradas</a></li></center>
    <p>
    </p>
    <center><li><a href="usuarios_c">Usuários Cadastrados</a></li><center>
    <p>
    </p>
</body>
</html>
